<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="SqlConnection" value="Data Source=.;Initial Catalog=test;Integrated Security=True;" />
		<add key="ExcelPath" value="C:\Users\payal\Downloads\MOCK_DATA.xlsx" />
		<add key="EPPlus:ExcelPackage.LicenseContext" value="NonCommercial" />
	</appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EPPlus.Interfaces" publicKeyToken="a694d7f3b0907a61" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.1.0" newVersion="6.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EPPlus.System.Drawing" publicKeyToken="2308d35469c9bac0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.1.0" newVersion="6.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>